<%= link_to 'Edit', edit_image_path(image), remote: true %>
<p><strong>Thinkstock ID:</strong> <%= image.thinkstock_id %></p>
<p><strong>Keywords:</strong> <%= image.tags %></p>
<p><strong>Dimensions:</strong> <%= image.dimensions %></p>
<%= link_to 'Download', image.attachment.expiring_url, class: "btn btn-success" %>