<!DOCTYPE html>
<html lang="en">
<head>
  <title>StockIt</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div id="header">
  	<div class="innerWrap">
  	<%= image_tag "stockIT_logo.svg"%>
	<%= link_to "New Image", new_image_path, class: "btn btn-primary pull-right" %>
    </div>
  </div>
  <div class="container">
  
    <%= yield %>
  </div>
</body>
</html>
